.deployments-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	margin: 10px 0px;
}

.deployment-details {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	border: 1px solid #eee;
	border-radius: 10px;
	gap: 20px;
	width: 90%;

	.product-info-details {
		text-align: left;
		display: flex;
		flex-direction: column;
		gap: 5px;
		width: 60%;
	}
}