.vacxin-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-height: 500px;
	overflow-y: auto;
	align-items: center;
}

.vacxin-info {
	width: 90%;
	padding: 10px;
	border: 1px solid #eee;
	border-radius: 10px;
	cursor: pointer;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;

	.vacxin-icon {
		background-color: #0095FF;
		border-radius: 10px;
		padding: 5px;
		color: white;
	}

	.vacxin-text {
		text-align: left;

		.vacxin-maintext {
			color: #0095FF;
		}

		.vacxin-subtext {
			color: black;
		}
	}
}