@import "tailwindcss";

/* Đảm bảo toàn bộ ứng dụng chiếm hết khung hình */
:root, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; /* Chống tràn ngang */
}

body {
  background-color: #F8FAFC; /* Màu nền xám nhạt của thiết kế */
}